<nav class="navbar">
        <div class="container">

            <ul class="navbar-nav">
                <li>
                    <a href="{% url 'index' %}" class="navbar-brand">Course app</a>
                </li>
                <li class="nav-item">
                    <a href=" {% url 'index' %}" class="nav-link">Kurslar</a>
                </li>
                <li class="nav-item">
                    <a href=" {% url 'login' %}" class="nav-link">Login</a>
                </li><li class="nav-item">
                    <a href="{% url 'register'  %}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">LogOut</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create_course' %}" class="nav-link">Kurs oluştur</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'create_course_2' %}" class="nav-link">Kurs oluştur2</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create_category' %}" class="nav-link">Kategori oluştur</a>
                </li>
                 <li class="nav-item">
                    <a href="{% url 'course_list' %}" class="nav-link">Kurs Listesi</a>
                </li>
            </ul>

            <form action="{% url 'search' %}">
                <input class="search-area"  type="text" name="q" placeholder="Arama yapmak için yazınız...">
                <button type="submit" class="btn-submit">Arama</button>
            </form>

        </div>
</nav>