.create-form{
    display: flex;
     flex-direction: column;
     color: white;
     gap: 2rem;
     align-items: flex-start;
    padding-top:1rem;
    padding-bottom: 1rem;


}

.create-form > .input-area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.create-form > .input-area > label{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2rem;
    width: 10rem;

}

.create-form > .input-area > label:hover{
background-color: rgb(86, 165, 255);
border-color: rgb(86, 165, 255);
color: white;
}

.create-form > .input-area > label:active{
background-color: rgb(255, 151, 32);
border-color: rgb(255, 151, 32);    
color: white;
}


.create-form > .input-area > input {
    padding: 1rem;
    widows: 1;
    border-radius: 2rem;
}
.create-form > .input-area > textarea {
    padding: 1rem;
    border-radius: 2rem;
    height: 10rem;
    resize: none;
}

textarea::-webkit-scrollbar {
  width: 6px;
  
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}


.create-form >  .buttons  {
    display: flex;
    gap: 1rem;
}
.create-form >  .buttons > button{
     display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2rem;
    width: 10rem;
}
.create-form >  .buttons > #save:hover{
    background-color: rgb(53, 88, 0);
    border-color: rgb(53, 88, 0);
    color: white;
}
.create-form >  .buttons > #reset:hover{
    background-color: red;
    border-color: red;
    color: white;

}
.create-form >  .buttons > #reset:active{
    background-color: rgb(85, 0, 0);
    border-color:  rgb(85, 0, 0);
    color: white;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2rem;
    gap: 1rem;
}



.alert-div{
    background-color: #F3CFD5;
    color: #6D313B;
    padding: 1rem;
    position: relative;
    border-radius: 2rem;
    
    
}
.alert-div > p{
        font-size: 1.3rem;
        font-weight: 600;
}
body{
    background-color: rgb(8, 8, 65);
}
.different-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: row !important;
}
#close-button{
    position: absolute;
    right: 2rem;
    top:1rem;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
}
.errorlist{
    list-style: none;
    margin: 0;
    padding: 0;
    color: red;
}
.invalid input, .invalid textarea{
    border-color: #dc3545;
    border-width: 0.5rem;
    
}