* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.deney-divi {
    background-color: red;
    color: white;
    width: 100px;
    text-transform: capitalize;
    padding: 1rem;
}

.navbar {
    background-color: blue;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.navbar>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-nav>li>a {
    font-size: 1.6rem;
    color: rgba(192, 192, 192, 0.84);
}

.navbar-brand {
    font-size: 2rem !important;
    color: white !important;
}
.navbar >.container >form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    
}

.navbar>.container>form>input {
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid white;
}

.navbar>.container>form>button {
    height: 3rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgb(56, 56, 56);
    color: white;
    border: 1px solid rgb(56, 56, 56);
}

body {
    background-color: black;
}

.active {
    background-color: blue;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.pagination {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-item {
    display: inline-block;
    border: 1px groove rgba(182, 180, 180, 0.507);
    background-color: white;
}

.page-item:hover {
    background-color: rgb(212, 212, 212);
}

.page-item>a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(93, 184, 244);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0.6rem 1rem;
    box-sizing: border-box;
}

.passive>a {
    color: gray;
}

.passive:hover {
    background-color: white;
}

.active-page {
    background-color: rgb(212, 212, 212);
}

.active-page>a {
    color: gray;
}