body{
    background-color: white;
}
.table-wrapper{
    padding: 1rem;
}
table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td,th{
    border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
img{
     max-width: 100%;
  height: auto;
  min-height: 100px;
}
td >a{
 background-color: red;
 padding: 1rem;
 border-radius: 1rem;
 
}
